<div class="col-md-6 col-md-push-3">
<%= provide(:title, "Register Company") %>
<center><h1>Register Your Company</h1></center>
<%= form_for(@company) do |f| %>
	<% render "shared/error_messages" %>
	<%= f.text_field :name, placeholder: "Company Name", :class => "form-control" %>
	<%= f.hidden_field :typ_fee_id, value: 1 %>
	
<% end %>
</div>